h1 {
    font-weight: 600;
}

#presentacion {
    text-align: center;
    padding: 32px;
}

#presentacion p {
    margin: 34px 0px;
}

#presentacion a {
    background-color: #2196F3;
    padding: 24px;
    border-radius: 6px;
    width: fit-content;
    text-decoration: none;
    color: #fff;
}

#presentacion img {
    width: 100%;
}