<!-- Agregamos el Layout -->
{% extends '../layouts/layout.html' %}

<!-- Cargamos el directorio Static-->
{% load static %}

<!-- Titulo -->
{% block title %}
    {{ titulo }}
{% endblock %}

<!-- Contenido -->
{% block content %}
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/diario.css' %}">    
    <!-- Token -->
    <div id="csrf-token" style="display:none;">{{ csrf_token }}</div>
    <div class="main-container">
        <div class="diario-container">            
            <div class="subtitle">
                <i class="fa-solid fa-arrow-left back" onclick="backPage()"></i>
                <h4>{{ titulo }}</h4>
                <!-- Lo colocamos para distribuir el titulo -->
                <i class="fa-solid fa-x tache"></i>
            </div>
            <!-- Habitos del hoy -->
            <div id="habitos">
                {% if habitos %}
                    {% for habito in habitos %}
                    <div id="habito-{{ habito.id_habito }}" class="habito">
                        <div class="informacion">
                            <!-- Categoria -->
                            <div class="categoria">
                                <i class="fa-solid fa-tag"></i>
                                <span>{{ habito.categoria.nombre }}</span>
                            </div>
                            <!-- Nombre -->
                            <div class="nombre">
                                <span>{{ habito.nombre }}</span>
                                <!-- Frecuencia -->
                                <div class="frecuencia">
                                    <span>
                                        {{ habito.frecuencia }} 
                                        {% if habito.frecuencia == 1 %}
                                            vez al día
                                        {% else %}
                                            veces al día
                                        {% endif %}
                                    </span>
                                </div>
                            </div>                     
                        </div>
                        <!-- Completar -->                  
                        <div id="hola-mundo" class="completar {% if habito.completado %}active{% endif %}" data-url="{% url 'completar_habito' id_habito=0 %}">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    {% endfor %}   
                {% else %}
                    <span>No hay habitos que mostrar</span>
                {% endif %}
            </div>
        </div>        
    </div>
    <!-- <script>
        const elemento = document.getElementById('hola-mundo')
        const id_habito = 16
        const url = "{% url 'completar_habito' id_habito=0 %}".replace('0', id_habito)
        elemento.addEventListener('click', () => {
            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',  // Incluir el CSRF token si es necesario
                    'Content-Type': 'application/json'
                },
                credentials: 'same-origin'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error en la respuesta del servidor');
                }
                return response.json();  // Esperar la respuesta como JSON
            })
            .then(data => {
                if (data.status === 'ok') {
                    console.log('Notificaciones marcadas como leídas.');
                    console.log(data.token)
                } else {
                    console.error('Error en la respuesta:', data.message);
                }
            })
            .catch(error => console.error('Error en la solicitud AJAX:', error));
        })
    </script> -->
    <!-- JavaScript -->
    {% block scripts %}
        <script src="{% static 'js/diario.js' %}"></script>
    {% endblock %}
{% endblock %}



