<!-- Agregamos el Layout -->
{% extends '../layouts/layout.html' %}

{% load static %}

<!-- Titulo -->
 {% block title %}
    {{ titulo }}
 {% endblock %}

 <!-- Contenido -->
  {% block content %}    
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <div id="main-container">
        <!-- Mostramos mensajes -->
        {% if messages %}
          {% for message in messages %}
            <h2 style="color: blue;">{{ message }}</h2>
          {% endfor %}
        {% endif %}
      <!-- Presentacion -->
      <section id="presentacion">                   
        <h1>
          Mejores Habitos,<br>
          Mejor Vida
        </h1>
        <p>
          Aproveche el poder de nuestra aplicación personalizada de seguimiento de hábitos para optimizar sus rutinas diarias y alcanzar sus objetivos.
        </p>
        <p><a href="{% url 'register' %}">Probar HabitTrack</a></p>
        <div id="about-us" style="background-image: url('../../static/images/smile.jpg');">
          <div>
            <p>
              En HabitTrack, creemos que el éxito está en las pequeñas acciones que se repiten a diario. Nuestra misión es ayudarte a establecer, seguir y alcanzar tus hábitos de forma efectiva, ofreciéndote una herramienta intuitiva y personalizable para gestionar tu progreso.
            </p>
            <p>
              Con HabitTrack, puedes planificar tus metas, hacer un seguimiento detallado de tus hábitos y recibir recordatorios que te mantendrán enfocado en tus objetivos. Ya sea que estés buscando mejorar tu salud, productividad o desarrollar nuevas habilidades, HabitTrack te acompaña en cada paso, brindándote la claridad y la motivación necesarias para mantenerte en el camino.
            </p>
            <p>
              ¿Por qué elegir HabitTrack? Nuestra aplicación está diseñada para adaptarse a tu estilo de vida, con funcionalidades que te permiten organizar tus hábitos de manera flexible, analizar tu progreso con gráficos claros y recibir notificaciones que se ajustan a tu rutina. Nos enfocamos en la simplicidad, para que puedas dedicar más tiempo a lo que realmente importa: formar hábitos que mejoren tu vida.
            </p>
            <p>
              Únete a HabitTrack y comienza hoy mismo a transformar tus rutinas diarias en pasos hacia el éxito.
            </p>
          </div>
        </div>
      </section>
    </div> 
  {% endblock %}