<!-- mainapp/templates/mainapp/login.html -->
{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<div class="auth-container">
    <div class="auth-card">
        <h2>Iniciar Sesión</h2>
        <p>Ingresa a tu cuenta de seguimiento de hábitos</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Correo electrónico</label>
                <input type="text" name="username" required id="id_username" placeholder="tu@ejemplo.com" class="form-control">
            </div>
            <div class="form-group">
                <label for="id_password">Contraseña</label>
                <input type="password" name="password" required id="id_password" placeholder="********" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
        </form>
        <div class="auth-links">
            <a href="{% url 'register' %}">Registrarse</a>
        </div>
    </div>
</div>
{% endblock %}