{% extends '../layouts/layout.html' %}

{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block content %}    
    <!-- Estilos -->
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/progreso.css' %}">
    {% endblock %}
    <div id="main-container">
        <div id="habitos-container">
            <table id="habitos" class="tabla-habitos">
                <thead>
                    <tr>
                        <th>Categoría</th>
                        <th>Nombre</th>
                        <th>Objetivo</th>
                    </tr>
                </thead>
                {% for habito in habitos %}
                    <tbody>
                        <tr class="habito" onclick="progresoHabito(event, {{ habito.id_habito }})">
                            <td id="habito-{{ habito.id_habito }}" class="categoria">
                                <i class="fa-solid fa-tag" style="color: {{ habito.id_categoria.color }};"></i>
                                <span>{{ habito.id_categoria.nombre }}</span>
                            </td>
                            <td class="nombre">
                                <span>{{ habito.nombre }}</span>
                            </td>
                            <td class="objetivo">
                                <span>{{ habito.id_objetivo.tipo }}</span>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>  
        </div>      
        <div id="estadisticas-container">
            <!-- Contenedor grafico -->
            <canvas id="grafica"></canvas>
        </div>
    </div>
    <!-- Data -->
    <div id="data-dias" style="display: none;" data-dias="{{ dias|safe }}"></div>
    <div id="data-progreso" style="display: none;" data-progreso="{{ progreso|safe }}"></div>
    <!-- Acciones URLS -->
    
    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static 'js/progreso.js' %}"></script>
    {% endblock %}
{% endblock %}
